<section [ngClass]="{'loading': !taskList.length }">

  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task"
        [ngClass]="{'checked': item.checked}">

      <button (click)="deleteItemTaskList(i)">
        <img src="assets/icons/icon-trash.svg">
      </button>
    </li>
  </ul>
</section>

<app-input-add (emitItemTaskList)="setEmitTaskList($event)"></app-input-add>
<app-button-delete *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-button-delete>
